name: release

on:
  schedule:
    - cron: '0 0 1 * *'
  workflow_dispatch:

jobs:
  release:
    runs-on: ubuntu-latest
    timeout-minutes: 10
    steps:
      - name: Checkout / Setup JDK 21 / SBT-Cache
        uses: rodobarcaaa/action-jdk-sbt-cache@main
        with:
          token: ${{ secrets.GH_PAT }}
          fetch-depth: 0
          jdk-version: '21'

      - name: Tests
        run: sbt test

      - name: Release
        run: |
          git config user.name github-actions
          git config user.email github-actions@github.com
          sbt "release with-defaults"

      - name: Extract latest version
        run: echo "VERSION=`echo $(git describe --tags $(git rev-list --tags --max-count=1))`" >> $GITHUB_ENV

      - name: Publish release notes
        uses: release-drafter/release-drafter@v5
        with:
          config-name: release-drafter.yml
          publish: true
          name: "${{ env.VERSION }}"
          tag: "${{ env.VERSION }}"
          version: "${{ env.VERSION }}"
        env:
          GITHUB_TOKEN: ${{ secrets.GH_PAT }}
